/*base*/
body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #000;
	color: #eee;
}
a,img {
	-webkit-touch-callout:none;
}
html,body,.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	overflow: hidden;
	position: relative;
}

/*字幕页*/
.logo-big {
	position: absolute;
	display: block;
	width: 13%;
	bottom: 7%;
	left: 43.5%;
}
.sub {
	width: 80%;
	position: absolute;
	height: 0;
	left: 10%;
	-webkit-transform: rotateX(40deg);
	transform: rotateX(40deg);
	overflow: hidden;
}
.sub>img {
	width: 100%;
}
#subtitles {
	perspective: 500;
	-webkit-perspective: 500;
}
.skipSub {
	display: block;
	position: absolute;
	top: 7%;
	right: 10%;
	color: #eee;
/*	-webkit-animation: dotFade 1.8s infinite;
	animation: dotFade 1.8s infinite;*/
}
.skipSub:visited {
	color: #eee;
}

/*.skipSub .skip1 {
	-webkit-animation: dotFade 1.8s infinite;
	animation: dotFade 1.8s infinite;
}
.skipSub .skip2 {
	-webkit-animation: dotFade 1.8s 0.1s infinite;
	animation: dotFade 1.8s 0.1s infinite;
}
.skipSub .skip3 {
	-webkit-animation: dotFade 1.8s 0.2s infinite;
	animation: dotFade 1.8s 0.2s infinite;
}
.skipSub .skip4 {
	-webkit-animation: dotFade 1.8s 0.3s infinite;
	animation: dotFade 1.8s 0.3s infinite;
}
.skipSub .skip5 {
	-webkit-animation: dotFade 1.8s 0.4s infinite;
	animation: dotFade 1.8s 0.4s infinite;
}
.skipSub .skip6 {
	-webkit-animation: dotFade 1.8s 0.5s infinite;
	animation: dotFade 1.8s 0.5s infinite;
}
.skipSub .skip7 {
	-webkit-animation: dotFade 1.8s 0.6s infinite;
	animation: dotFade 1.8s 0.6s infinite;
}*/
.span-ani {
	-webkit-animation: dotFade 1.8s infinite;
	animation: dotFade 1.8s infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.start-btn {
	/*display: block;*/
	position: absolute;
	bottom: 24%;
	width: 13%;
	left: 43.5%;
	display: none;
}
.start-word {
	position: absolute;
	width: 68%;
	left: 17%;
	top: 40%;
	-webkit-animation: fadeInOut 1s infinite linear;
	animation: fadeInOut 1s infinite linear;
}





/*slide1*/
#main-swiper #slide1 {
	background: #000 url(../images/start.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#s1-c1,#s1-c2,#s1-c3{
	display: block;
	position: absolute;
	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.s1-c1 {
	-webkit-animation: rotate1 3s infinite linear;
	animation: rotate1 3s infinite linear;
}
#s1-c1 {
	width: 40%;
	left: 25%;
}
.s1-c2 {
	-webkit-animation: rotate1 6s infinite linear;
	animation: rotate1 6s infinite linear;
}
#s1-c2 {
	width: 58%;
	left: 16%;
}
.s1-c3 {
	-webkit-animation: rotate1 10s infinite linear;
	animation: rotate1 10s infinite linear;
}
#s1-c3 {
	width: 72%;
	left: 10%;
}
@-webkit-keyframes rotate1{
	0%{ transform:rotate(0deg);-webkit-transform:rotate(0deg); }
	100%{ transform:rotate(-360deg);-webkit-transform:rotate(-360deg); }
}
@keyframes rotate1 {	
	0%{ transform:rotate(0deg);-webkit-transform:rotate(0deg); }
	100%{ transform:rotate(-360deg);-webkit-transform:rotate(-360deg); }
}
#s1-earth {
	display: block;
	position: absolute;
	width: 50%;
	left: 18%;
}
.s1-fp {
	width: 11.5%;
	position: absolute;
	left: 48%;
	-webkit-animation: fadeInOut 1s infinite linear;
	animation: fadeInOut 1s infinite linear;
	z-index: 2;
}
.s1-fp>img {
	width: 100%;
}
#s1-sbl {
	width: 42%;
	position: absolute;
	top: 0;
	left: 40%;
}
@-webkit-keyframes fadeInOut{
	0%{ opacity: 1;}
	100%{ opacity: 0; }
}
@keyframes fadeInOut {	
	0%{ opacity: 1;}
	100%{ opacity: 0; }
}
#s1-word {
	width: 74%;
	position: absolute;
	top: 70%;
	left: 13%;
}
#s1-pos {
	width: 4%;
	position: absolute;
	top: 31%;
	left: 51.5%;
	display: none;
	z-index: 10;
}
#s1-pos>img {
	width: 100%;
}
/*.circle {
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}*/


/*slide2*/
#main-swiper>div>.swiper-slide{
	background: #000 url(../images/background.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#s2-title {
	position: absolute;
	width: 42%;
	top: 20px;
	left: 8%;
	/*opacity: 0;*/
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	visibility: hidden;
}
#s2-btn {
	position: absolute;
	display: block;
	/*top: 30%*/
	top: 28%;
	width: 20%;
	left: 40%;
	opacity: 0;
}
#s2-robot {
	width: 100%;
}
#s2-hand {
	position: absolute;
	bottom: -45px;
	right: 0;
	width: 24px;
	visibility:hidden;
	overflow: visible;
	-webkit-animation-duration: 1.8s;
	animation-duration: 1.8s;
}
#s2-hand img {
	display: block;
}
#s2-finger {
	width: 100%;
}
#s2-sc {
	position: absolute;
	width: 50%;
	top: -12%;
	left: 15.5%;
	-webkit-animation: btnFadeInOut 1s infinite;
	animation: btnFadeInOut 1s infinite;
}
#s2-bc {
	position: absolute;
	width: 75%;
	top: -23%;
	left: 3%;
	-webkit-animation: btnFadeInOut 1s 0.5s infinite;
	animation: btnFadeInOut 1s 0.5s infinite;
}
#s2-btn>canvas {
	position: absolute;
	width: 80%;
	top: 16%;
	left: 10%;
}
.waves {
	position: absolute;
	top: -10%;
	left: 25%;
	width: 50%;
	overflow: hidden;
	opacity: 0;
}
.waves>img {
	width:200%;
	position: absolute;
	top: 0;
	left: 0;
}
#s2-word1 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 52%;
}

.s2-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 2em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
	opacity: 0;

}
.s2-para1-ani {
	-webkit-animation: typing .4s steps(2, end) 4.8s,
 	blink-caret .3s step-end 4.8s 2  alternate;
	animation: typing .4s steps(2, end) 4.8s,
 	blink-caret .3s step-end 4.8s 2  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s2-para-a3 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 7em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
	opacity: 0;
}
.s2-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 7em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s2-para-a3-ani {
	-webkit-animation: typing 1.4s 5.2s steps(7, end),
 	blink-caret .3s step-end 5.2s 5 alternate;
	animation: typing 1.4s 5.2s steps(7, end),
 	blink-caret .3s step-end 5.2s 5 alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s2-para2-ani {
	-webkit-animation: typing 1.4s 6.6s steps(7, end),
 	blink-caret .3s step-end 6.6s infinite alternate;
	animation: typing 1.4s 6.6s steps(7, end),
 	blink-caret .3s step-end 6.6s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
@keyframes typing { from { width: 0; } }
@-webkit-keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: #fff; } }
@-webkit-keyframes blink-caret { 50% { border-color: #fff; } }
@-webkit-keyframes btnFadeInOut {
	50% {opacity: 0.5;}
}
@keyframes btnFadeInOut {
	50% {opacity: 0.5;}
}
#s2-para {
	position: absolute;
	/*top: 71%;*/
	top: 78%;
	/*opacity: 0;*/
	-webkit-animation-duration: 0.88s;
	animation-duration: 0.88s;
	visibility: hidden;
}
#now-date {
	text-align: center;
	width: 100%;
	font-weight: 200;
	font-size: 20px;
	margin: 0;
}
#s2-word2 {
	width: 100%;
}
.s2-logo {
	position: absolute;
	bottom: 16px;
	left: 39%;
	width: 22%;
	/*opacity: 0;*/
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	visibility: hidden;
}


/*slide3*/

#s3-title,#s7-title,#s3plus-title {
	position: absolute;
	width: 25%;
	top: 20px;
	left: 8%;
	opacity: 0;
}
#s3-word1,#s7-word,#s3plus-word1 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 35%;
}
.go {
	display: block;
	position: absolute;
	width: 16%;
	top: 65%;
	left: 42%;
	visibility: hidden;
}
.go-wrapper {
	width: 100%;
}
.go-word {
	position: absolute;
	width: 46%;
	left: 27%;
	top: 36%;
	-webkit-animation: fadeInOut 1s infinite linear;
	animation: fadeInOut 1s infinite linear;
}
#yes-img {
	width: 58%;
	left: 21%;
}
.s3-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 2em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px;
 	border-color:transparent;
	opacity: 0;
}
.s3-para1-ani {
	-webkit-animation: typing .4s steps(2, end) 1s,
 	blink-caret .3s step-end 1s 2  alternate;
	animation: typing .4s steps(2, end) 1s,
 	blink-caret .3s step-end 1s 2  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s3-para-a3 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 6em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px;
 	border-color:transparent;
	opacity: 0;
}
.s3-para-a3-ani {
	-webkit-animation: typing 1.2s steps(6, end) 1.1s,
 	blink-caret .3s step-end 1.1s 4  alternate;
	animation: typing 1.2s steps(6, end) 1.1s,
 	blink-caret .3s step-end 1.1s 4  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s3-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 8em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s3-para2-ani {
	-webkit-animation: typing 1.6s 1.4s steps(8, end),
 	blink-caret .3s step-end 1.4s infinite alternate;
	animation: typing 1.6s 1.4s steps(8, end),
 	blink-caret .3s step-end 1.4s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
/*.s3-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 2em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px;
 	border-color:transparent;
	opacity: 0;
}
.s3-para1-ani {
	-webkit-animation: typing .4s steps(2, end) 2.3s,
 	blink-caret .3s step-end 2.3s 2  alternate;
	animation: typing .4s steps(2, end) 2.3s,
 	blink-caret .3s step-end 2.3s 2  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s3-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 8em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s3-para2-ani {
	-webkit-animation: typing 1.6s 2.7s steps(8, end),
 	blink-caret .3s step-end 2.7s infinite alternate;
	animation: typing 1.6s 2.7s steps(8, end),
 	blink-caret .3s step-end 2.7s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}*/



/*slide3plus*/


#s3-word1,#s7-word {
	position: absolute;
	left: 0;
	width: 100%;
	top: 35%;
}
.s3plus-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 8em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px;
 	border-color:transparent;
	opacity: 0;
}
.s3plus-para1-ani {
	-webkit-animation: typing 1.6s steps(8, end) 1.1s,
 	blink-caret .3s step-end 1.1s 6  alternate;
	animation: typing 1.6s steps(8, end) 1.1s,
 	blink-caret .3s step-end 1.1s 6  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s3plus-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 11em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s3plus-para2-ani {
	-webkit-animation: typing 2.2s 2.7s steps(11, end),
 	blink-caret .3s step-end 2.7s infinite alternate;
	animation: typing 2.2s 2.7s steps(11, end),
 	blink-caret .3s step-end 2.7s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}



/*ani*/
#ani-bg {
	width: 100%;
}
#ani-circle {
	width: 70%;
	position: absolute;
	bottom: -30%;
	left: 15%;
	z-index: 3;
	-webkit-transform: rotate(6deg);
	transform: rotate(6deg);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.circle-rotate1 {
	-webkit-animation: circle-rotate1 1s ease-out;
	animation: circle-rotate1 1s ease-out;
}
.circle-rotate2 {
	-webkit-animation: circle-rotate2 1s ease-out;
	animation: circle-rotate2 1s ease-out;
}
.circle-rotate3 {
	-webkit-animation: circle-rotate3 1s ease-out;
	animation: circle-rotate3 1s ease-out;
}
@-webkit-keyframes circle-rotate1{
	0%{-webkit-transform: rotate(6deg);transform: rotate(6deg);}
	100%{-webkit-transform: rotate(-110deg);transform: rotate(-110deg);}
}
@keyframes circle-rotate1 {	
	0%{-webkit-transform: rotate(6deg);transform: rotate(6deg);}
	100%{-webkit-transform: rotate(-110deg);transform: rotate(-110deg);}
}
@-webkit-keyframes circle-rotate2{
	0%{-webkit-transform: rotate(-110deg);transform: rotate(-110deg);}
	100%{-webkit-transform: rotate(-220deg);transform: rotate(-220deg);}
}
@keyframes circle-rotate2 {	
	0%{-webkit-transform: rotate(-110deg);transform: rotate(-110deg);}
	100%{-webkit-transform: rotate(-220deg);transform: rotate(-220deg);}
}
@-webkit-keyframes circle-rotate3{
	0%{-webkit-transform: rotate(-220deg);transform: rotate(-220deg);}
	100%{-webkit-transform: rotate(-340deg);transform: rotate(-340deg);}
}
@keyframes circle-rotate3 {	
	0%{-webkit-transform: rotate(-220deg);transform: rotate(-220deg);}
	100%{-webkit-transform: rotate(-340deg);transform: rotate(-340deg);}
}

#ani-main {
	position: relative;
}
#ani-swiper {
	position: absolute;
	width: 62.5%;
	left: 18.5%;
	height: 71%;
	top: 22%;
	background-color: #88b6d1;
}
#ani-swiper .swiper-slide {
	
}
.ani-land {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.steam-house {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 22%;
	visibility: hidden;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-duration: 0.7s;
 	animation-duration: 0.7s;
}
.elec-house {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 25%;
	visibility: hidden;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-duration: 0.7s;
 	animation-duration: 0.7s;
}
.info-house {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 30%;
	opacity: 0;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-duration: 0.7s;
 	animation-duration: 0.7s;
}
.info-phone {
	width: 33%;
	position: absolute;
	left: 18%;
	bottom: 14%;
	opacity: 0;
}
.info-phone-ani {
	-webkit-animation: fadeIn 0.7s 1.8s;
	animation: fadeIn 0.7s 1.8s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.info-signal {
	width: 33%;
	position: absolute;
	right: 12%;
	bottom: 14%;
	opacity: 0;
}
.info-signal-ani {
	-webkit-animation: fadeIn 0.7s 1.2s;
	animation: fadeIn 0.7s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.info-robot {
	width: 18%;
	position: absolute;
	right: 20%;
	bottom: 70%;
	opacity: 0;
}
.info-robot-ani {
	-webkit-animation: fadeIn 0.7s 1.8s,ellipse 4s 1.7s infinite;
	animation: fadeIn 0.7s 1.8s,ellipse 4s 1.7s infinite;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
@keyframes ellipse {
	0%,100% {right: 20%;bottom: 66%;}
	25% {right: 30%;bottom: 70%;}
	50% {right: 40%;bottom: 67%;}
	75% {right: 30%;bottom: 65%;}
}
@-webkit-keyframes ellipse {
	0%,100% {right: 20%;bottom: 66%;}
	25% {right: 30%;bottom: 70%;}
	50% {right: 40%;bottom: 67%;}
	75% {right: 30%;bottom: 65%;}
}
.elec-car {
	width: 38%;
	position: absolute;
	left: 100%;
	bottom: 10%;
}
.elec-car-ani {
	-webkit-animation: translateMove 4s 2s;
	animation: translateMove 4s 2s;
}
.elec-bus {
	width: 45%;
	position: absolute;
	left: 100%;
	bottom: 20%;
}
.elec-bus-ani {
	-webkit-animation: translateMove 7s 1.2s;
	animation: translateMove 7s 1.2s;
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
/*    -webkit-transform: none;
    transform: none;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 1;
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    opacity: 1;
  }

  100% {
/*    -webkit-transform: none;
    transform: none;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.steam-railway {
	position: absolute;
	width: 100%;
	bottom: 12%;
	left: 0;
	opacity: 0;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-duration: 0.7s;
 	animation-duration: 0.7s;
 	 -webkit-animation-delay: 0.7s;
 	animation-delay: 0.7s;
}
#steam-fulltrain {
	position: absolute;
	width: 30%;
	bottom:12%;
	right: -30%;
	-webkit-transform:rotate(16deg);
	transform:rotate(16deg);
}
.fulltrain-run {
	-webkit-animation: fulltrainRun 4s linear 1s;
	animation: fulltrainRun 4s linear 1s;
}
@keyframes fulltrainRun {
	0%	{bottom:12%;right:-30%;-webkit-transform:rotate(16deg);transform:rotate(16deg)}
	27%	{bottom:15%;right:0%;-webkit-transform:rotate(16deg);transform:rotate(16deg)}
	48%	{bottom:17%;right:20%;-webkit-transform:rotate(10deg);transform:rotate(10deg)}
	58%	{bottom:18%;right:32%;-webkit-transform:rotate(6deg);transform:rotate(6deg)}
	67%	{bottom:18%;right:40%;-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	87%	{bottom:17%;right:60%;-webkit-transform:rotate(-3deg);transform:rotate(-3deg)}
	100% {bottom:16%;right:80%;-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}
}
@-webkit-keyframes fulltrainRun {
	0%	{bottom:12%;right:-30%;-webkit-transform:rotate(16deg);transform:rotate(16deg)}
	27%	{bottom:15%;right:0%;-webkit-transform:rotate(16deg);transform:rotate(16deg)}
	48%	{bottom:17%;right:20%;-webkit-transform:rotate(10deg);transform:rotate(10deg)}
	58%	{bottom:18%;right:32%;-webkit-transform:rotate(6deg);transform:rotate(6deg)}
	67%	{bottom:18%;right:40%;-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	87%	{bottom:17%;right:60%;-webkit-transform:rotate(-3deg);transform:rotate(-3deg)}
	100% {bottom:16%;right:80%;-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}
}
#steam-train {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
}
#steam-tire1,#steam-tire2 {
	position: absolute;
	width: 25%;
	bottom: 7%;
	-webkit-animation: rotate1 4s linear infinite;
	animation: rotate1 4s linear infinite;
}
#steam-tire2 {
	right: 0.5%;	
}
#steam-tire1 {
	right: 28%;	
}
.steam-cloud1 {
	position: absolute;
	width: 14%;
	left: 15%;
	top: 15%;
	opacity: 0;

}
.steam-cloud2 {
	position: absolute;
	width: 21%;
	left: 48%;
	top: 7%;
	opacity: 0;
}
.steam-cloud3 {
	position: absolute;
	width: 15%;
	left: 74%;
	top: 28%;
	opacity: 0;
}
.elec-cloud2 {
	position: absolute;
	width: 21%;
	left: 30%;
	top: 7%;
	opacity: 0;
}
.elec-cloud3 {
	position: absolute;
	width: 15%;
	left: 74%;
	top: 19%;
	opacity: 0;
}
.info-cloud1 {
	position: absolute;
	width: 14%;
	left: 15%;
	top: 15%;
	opacity: 0;

}
.info-cloud2 {
	position: absolute;
	width: 21%;
	left: 48%;
	top: 7%;
	opacity: 0;
}
.steam-cloud1-ani {
	-webkit-animation: fadeIn 0.7s 1.2s,translateMove 5.9s 1.9s;
	animation: fadeIn 0.7s 1.2s,translateMove 5.9s 1.9s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.steam-cloud2-ani {
	-webkit-animation: fadeIn 0.7s 1.2s,translateMove 8.9s 1.9s;
	animation: fadeIn 0.7s 1.2s,translateMove 8.9s 1.9s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.steam-cloud3-ani {
	-webkit-animation: fadeIn 0.7s 1.2s,translateMove 17s 1.9s;
	animation: fadeIn 0.7s 1.2s,translateMove 17s 1.9s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.elec-cloud2-ani {
	-webkit-animation: fadeIn 0.7s 0.6s,translateMove 21s 1.2s;
	animation: fadeIn 0.7s 0.6s,translateMove 21s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.elec-cloud3-ani {
	-webkit-animation: fadeIn 0.7s 0.6s,translateMove 20s 1.2s;
	animation: fadeIn 0.7s 0.6s,translateMove 20s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.info-cloud1-ani {
	-webkit-animation: fadeIn 0.7s 0.6s,translateMove 15.9s 1.2s;
	animation: fadeIn 0.7s 0.6s,translateMove 15.9s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.info-cloud2-ani {
	-webkit-animation: fadeIn 0.7s 0.6s,translateMove 25.9s 1.2s;
	animation: fadeIn 0.7s 0.6s,translateMove 25.9s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
@keyframes translateMove {
	to {left: -40%;}
}
@-webkit-keyframes translateMove {
	to {left: -40%;}
}


/*slide4*/

#s4-title {
	position: absolute;
	width: 40%;
	top: 20px;
	left: 8%;
}

#s4-word1 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 35%;
	/*display: none;*/
}
.s4-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 8.2em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
	opacity: 0;
}
.s4-para1-ani {
	-webkit-animation: typing 1.6s steps(8, end) 2.2s,
 	blink-caret .3s step-end 2.2s 5  alternate;
	animation: typing 1.6s steps(8, end) 2.2s,
 	blink-caret .3s step-end 2.2s 5  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s4-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 8em; /* fallback */
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
 	opacity: 0;
}
.s4-para2-ani {
	-webkit-animation: typing 1.6s 3.8s steps(8, end),
 	blink-caret .3s step-end 3.8s 5 alternate;
	animation: typing 1.6s 3.8s steps(8, end),
 	blink-caret .3s step-end 3.8s 5 alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s4-para3 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 4em; /* fallback */
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s4-para3-ani {
	-webkit-animation: typing 0.8s 5.4s steps(4, end),
 	blink-caret .3s step-end 5.4s infinite alternate;
	animation: typing 0.8s 5.4s steps(4, end),
 	blink-caret .3s step-end 5.4s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s4-para-a4 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 6em; /* fallback */
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
 	opacity: 0;
}
.s4-para-a4-ani {
	-webkit-animation: typing 1.2s steps(6, end) 1s,
 	blink-caret .3s step-end 1s 4  alternate;
	animation: typing 1.2s steps(6, end) 1s,
 	blink-caret .3s step-end 1s 4  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}

#s4-lr{
	position: absolute;
	left: 0;
	width: 100%;
	top: 42%;
	display: none;
}
#s4-lr>img {
	width: 100%;
}
#slide4 .loading-mask {
	width: 0;
	height: 5%;
	position: absolute;
	background-color: #fff;
	top: 43%;
	left: 34.2%;
	border-radius: 5px;
}
#s4-logo {
	top: 68%;
}


/*slide5*/
#s5-title {
	position: absolute;
	width: 20%;
	top: 20px;
	left: 8%;
}
#s5-word1 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
}
.s5-doc {
	position: absolute;
	left: 18%;
	width: 64%;
	top: 24%;
}
.s5-doc>img {
	display: block;
}
.s5-doc-wrap {
	width: 100%
}
.s5-percentage,.s5-square,.s5-doc-word,.s5-doc-logo,.logo-dot,.doc-dot{
	position: absolute;
}
.s5-percentage {
	width: 40%;
	font-size: 30px;
	top: 14%;
	left: 10%;
	margin:0;
}
.s5-square {
	width: 5%;
}
#s5-s1 {
	left: -2.5%;
	top: 7%;
	-webkit-animation: squareBounceDown 2s ease-in-out infinite;
	-o-animation: squareBounceDown 2s ease-in-out infinite;
	animation: squareBounceDown 2s ease-in-out infinite;
}
@-webkit-keyframes squareBounceDown {
	50% {top:41%;}
}
@keyframes squareBounceDown {
	50% {top:41%;}
}
@-webkit-keyframes squareBounceUp {
	50% {bottom:41%;}
}
@keyframes squareBounceUp {
	50% {bottom:41%;}
}
@-webkit-keyframes dotFade {
	50% {opacity: 0;}
}
@keyframes dotFade {
	50% {opacity: 0;}
}
.right-dot {
	-webkit-animation: dotFade 2s infinite;
	-o-animation: dotFade 2s infinite;
	animation: dotFade 2s infinite;
}
#s5-s2 {
	left: -2.5%;
	bottom: 7%;
	-webkit-animation: squareBounceUp 2s ease-in-out infinite;
	-o-animation: squareBounceUp 2s ease-in-out infinite;
	animation: squareBounceUp 2s ease-in-out infinite;
}
#s5-s3 {
	left: 7%;
	top: -4%;
}
#s5-s4 {
	left: 14%;
	top: -4%;
}
#s5-s5 {
	left: 20%;
	top: -4%;
}
.s5-doc-word {
	right: 5%;
	top: 14%;
	width: 48%
}
.s5-doc-logo {
	width: 36%;
	bottom: 10%;
	right: 15%
}
#s5-doc-logo {
	width: 100%;
}
.logo-dot {
	width: 5%;
}
#logo-dot1 {
	left: -13%;
	top: -30%;
}
#logo-dot2 {
	right: -15%;
	top: -30%;
}
#logo-dot3 {
	right: -15%;
	bottom: -15%;
}
#logo-dot4 {
	left: -13%;
	bottom: -15%;
}
.doc-dot {
		width: 2.4%;
}
#doc-dot1 {
	left: -0.8%;
	top: -2.4%;
}
#doc-dot2 {
	left: -0.8%;
	bottom: -2.4%;
}
#doc-dot3 {
	right: -0.8%;
	bottom: -2.4%;
}
#doc-dot4 {
	right: -0.8%;
	bottom: 12%;
}
#doc-dot5 {
	right: -0.8%;
	bottom: 19%;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
#doc-dot6 {
	right: -0.8%;
	bottom: 26%;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
#doc-dot7 {
	right: -0.8%;
	bottom: 33%;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
#doc-dot8 {
	right: -0.8%;
	bottom: 40%;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.s5-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	/*width: 2em;*/
 	width: 7em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px;
 	border-color:transparent;
	opacity: 0;
}
/*.s5-para1-ani {
	-webkit-animation: typing .4s steps(2, end) 3.3s,
 	blink-caret .3s step-end 3.3s 2  alternate;
	animation: typing .4s steps(2, end) 3.3s,
 	blink-caret .3s step-end 3.3s 2  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}*/
.s5-para1-ani {
	-webkit-animation: typing 1.4s steps(7, end) 3.3s,
 	blink-caret .3s step-end 3.3s 5  alternate;
	animation: typing 1.4s steps(7, end) 3.3s,
 	blink-caret .3s step-end 3.3s 5  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s5-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	/*width: 5em;*/
 	width: 7em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 10px; /*去掉*/
 	border-color:transparent;
 	opacity: 0;
}
/*.s5-para2-ani {
	-webkit-animation: typing 1s 3.9s steps(5, end),
 	blink-caret .3s step-end 3.9s infinite alternate;
	animation: typing 1s 3.9s steps(5, end),
 	blink-caret .3s step-end 3.9s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}*/
.s5-para2-ani {
	-webkit-animation: typing 1.2s 4.9s steps(6, end),
 	blink-caret .3s step-end 4.9s 4 alternate;
	animation: typing 1.2s 4.9s steps(6, end),
 	blink-caret .3s step-end 4.9s 4 alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s5-para-a3 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 7em; 
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s5-para-a3-ani {
	-webkit-animation: typing 1.4s 6.3s steps(7, end),
 	blink-caret .3s step-end 6.3s infinite alternate;
	animation: typing 1.4s 6.3s steps(7, end),
 	blink-caret .3s step-end 6.3s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}


#s5-yes {
	top: 76%;
	left: 24%;
}
#s5-no {
	top: 76%;
	left: 60%;
}


/*slide6*/
.s6-title {
	position: absolute;
	width: 30%;
	top: 20px;
	left: 8%;
	opacity: 0;
}
.s6-title-ani {
	-webkit-animation: fadeInUp 0.7s;;
 	animation: fadeInUp 0.7s;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#s6-main {
	position: relative;
	/*margin-top: 20%;*/
	width: 70%;
	margin: 20% auto 0;
}
.s6-circle {
	position: absolute;
	width: 98%;
	top: 3%;
	left: 1%;
	opacity: 0;
}
.s6-circle-ani {
	-webkit-animation: fadeIn 0.7s 1.2s;
	-o-animation: fadeIn 0.7s 1.2s;
	animation: fadeIn 0.7s 1.2s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s6-word1 {
	position: absolute;
	width: 52%;
	top: 40%;
	left: 23%;
	opacity: 0;
}
.s6-lt {
	width: 100%;
	opacity: 0;
}
.s6-lt-ani {
	-webkit-animation: fadeInLeft 0.7s 1.8s;
	-o-animation: fadeInLeft 0.7s 1.8s;
	animation: fadeInLeft 0.7s 1.8s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s6-rb {
	width: 100%;
	position: relative;
	top: -2px;
	opacity: 0;
}
.s6-rb-ani {
	-webkit-animation: fadeInRight 0.7s 1.8s;
	-o-animation: fadeInRight 0.7s 1.8s;
	animation: fadeInRight 0.7s 1.8s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
#s6-main>img {
	display: block;
	margin: 0;
	padding: 0;
}
.s6-btn {
	width: 15%;
	display: inline-block;
	position: absolute;
	top: 0;
}
.s6-btn img:first-child {
	width: 100%;
}
#s6-btn-wrapper {
	width: 100%;
	position: absolute;
	top: 70%;
	left: 0;
	opacity: 0;
	z-index: 10;
}
.s6-btn-wrapper-1 {
	-webkit-animation: fadeIn 0.7s 2.4s;
	-o-animation: fadeIn 0.7s 2.4s;
	animation: fadeIn 0.7s 2.4s;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s6-btn-wrapper-2 {
	-webkit-animation: slide7Up 0.7s linear;
	-o-animation: slide7Up 0.7s linear;
	animation: slide7Up 0.7s linear;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
@keyframes slide7Up {
	100% {top:62%;}
}
@-webkit-keyframes slide7Up {
	100% {top:62%;}
}
.s6-btn-ani {
	-webkit-animation: rotate1 3s 3.1s linear infinite;
	-o-animation: rotate1 3s 3.1s linear infinite;
	animation: rotate1 3s 3.1s linear infinite;
	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s6-btn img:last-child {
	width: 60%;
	position: absolute;
	top: 34%;
	left: 20%;
}
#s6-tech {
	left: 17%;
}
#s6-design {
	left: 42.5%;
}
#s6-planning {
	left: 68%;
}
#s6-go {
	top: 75%;
	display: none;
}
.s6-logo-ani {
	-webkit-animation: fadeInUp 0.7s 0.6s;
 	animation: fadeInUp 0.7s 0.6s;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}

/*tech*/

.showdoc>div {
	width: 100%;
	margin-top: 15%;
	position: relative;
}
.showdoc>div>img {
	position: absolute;
}
.showdoc .showdoc-bg {
	position: static;
	width: 75%;
	margin: 0 auto;
	display: block;
}
.showdoc-title {
	width: 18%;
	top: -8%;
	left: 5%;
}
.showdoc-back {
	position: absolute;
	display: block;
	width: 18%;
	top: -8%;
	right: 3%;
}
.showdoc-back img:first-child {
	width: 100%;
}
.showback-dot {
	position: absolute;
	width: 5%;
}
.showback-dot1 {
	top:30%;
	right: 17%;
	-webkit-animation: dotMove1 1.2s steps(3, end) infinite;
	animation: dotMove1 1.2s steps(3, end) infinite;
}
.showback-dot2 {
	top:70%;
	right: 17%;
	-webkit-animation: dotMove2 1.2s steps(3, end) infinite;
	animation: dotMove2 1.2s steps(3, end) infinite;
}
@keyframes dotMove1 {
	to {right:80%;}
}
@-webkit-keyframes dotMove1 {
	to {right:80%;}
}
@keyframes dotMove2 {
	to {top:30%;}
}
@-webkit-keyframes dotMove2 {
	to {top:30%;}
}
.showdoc-bl,.showdoc-br {
	position: absolute;
	width: 3%;
	overflow: hidden;
	height: 90%;
}
.showdoc-bl {
	top: 7%;
	left: 13%;
}
.showdoc-br {
	top: 7%;
	right: 13%;
}
.showdoc-bl>img,.showdoc-br>img {
	position: absolute;

	left: 0;
	display: block;
	width: 100%;
}
.showdoc-br-ani>img {
	bottom: 0;
	-webkit-animation:borderMoveDown 10s linear infinite;
	animation:borderMoveDown 10s linear infinite;
}
.showdoc-bl-ani>img {
	top: 0;
	-webkit-animation:borderMoveUp 10s linear infinite;
	animation:borderMoveUp 10s linear infinite;
}
@keyframes borderMoveUp {
	100% {top:-100%;}
}
@-webkit-keyframes borderMoveUp {
	100% {top:-100%;}
}
@keyframes borderMoveDown {
	100% {bottom:-100%;}
}
@-webkit-keyframes borderMoveDown {
	100% {bottom:-100%;}
}

#tech-title,#design-title,#planning-title {
	width: 16%;
	top: 0.5%;
	left: 42%;
}
#tech-word,#design-word,#planning-word {
	width: 34%;
	top: 6.5%;
	left: 33%;
}
#design-word {
	top: 4.5%
}
#tech-1 {
	width: 30%;
	top: 33%;
	left: 21.5%;
}
#tech-2 {
	width: 25%;
	top: 41%;
	right: 21.5%;
}
#design-title,#planning-title {
	width: 8%;
	left: 46%;
}
#design-word,#planning-word {
	top: 6.5%;
}
#design-1 {
	width: 46%;
	top:31%;
	left: 21.5%;
}
#design-2 {
	width: 44%;
	top:56%;
	right: 21.5%;
}
#planning-1 {
	width: 19%;
	top: 30%;
	left: 30%;
}
#planning-2 {
	width: 46%;
	top: 37%;
	left: 21.5%;
}
#planning-3 {
	width: 34%;
	top: 51%;
	right: 20%;
}
#s7-word {
	top: 32%;
}
.s7-para1 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 2em;
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
	opacity: 0;
}
.s7-para1-ani {
	-webkit-animation: typing 0.4s 1s steps(2, end),blink-caret .3s step-end 1s 2  alternate;
	animation: typing 0.4s steps(2, end) 1s,blink-caret .3s step-end 1s 2  alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s7-para2 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 6em; /* fallback */
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto 6px;
 	border-color:transparent;
 	opacity: 0;
}
.s7-para2-ani {
	-webkit-animation: typing 1.2s 1.6s steps(6, end),
 	blink-caret .3s step-end 1.6s 4 alternate;
	animation: typing 1.2s 1.6s steps(6, end),
 	blink-caret .3s step-end 1.6s 4 alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}
.s7-para3 {
	font-size: 22px; 
 	border-right: .1em solid;
 	width: 4em; /* fallback */
 	white-space: nowrap;
 	overflow: hidden;
 	margin: 0 auto;
 	border-color:transparent;
 	opacity: 0;
}
.s7-para3-ani {
	-webkit-animation: typing 0.8s 3s steps(4, end),
 	blink-caret .3s step-end 3s infinite alternate;
	animation: typing 0.8s 3s steps(4, end),
 	blink-caret .3s step-end 3s infinite alternate;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
}



.ani-pause {
-webkit-animation-play-state:paused; /* Safari 和 Chrome */
animation-play-state:paused;
}

@keyframes zoomBigOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(3, 3, 3);
    transform: scale3d(3, 3, 3);
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes zoomBigOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(3, 3, 3);
    transform: scale3d(3, 3, 3);
  }

  100% {
    opacity: 0;
  }
}

.zoomBigOut {
  -webkit-animation-name: zoomBigOut;
  animation-name: zoomBigOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.ani-earth {
	-webkit-animation: scaleOut 10s ease-in-out;
	animation: scaleOut 10s ease-in-out;
}
.ani-s1-pos {
	-webkit-animation: fadeInOut 0.6s ease-in-out 3;
	animation: fadeInOut 0.6s ease-in-out 3;
}
@keyframes scaleOut {
  0% {
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
  }
  100% {
    transform:scale(5,5);
    -webkit-transform:scale(5,5);
  }
}
@-webkit-keyframes scaleOut {
  0% {
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
  }
  100% {
    transform:scale(5,5);
    -webkit-transform:scale(5,5);
  }
}